*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body, html {
    height: 100%;
    
}

/* header */
/* header */
/* header */

.header {
    margin-bottom: 50px;
}

.menu{
    position:fixed;
    top: 0;
    background-color: white;
    left: 0;
    right: 0;
    
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    background-color: rgb(172, 47, 158)
}

.menu-item {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    border-left: 1px solid; 
    border-right: 1px solid; 
    color: black;
}

.menu-item a {
    color: black;
}

/* header */
/* header */
/* header */
